@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --Poppins: "Poppins", sans-serif;
  --clr--dark: #2b2b2b;
  --clr-light: #fff;
  --clr-accent: #d9964a;
  --clr-blue: #0b5089;
  --clr-border: #f9e9d7;
  --clr-gray: #666666;
  --clr-red: #fb4d3d;
  --h1: 90px;
  --h2: 33px;
  --h3: 24px;
  --h4: 16px;
  --h5: 12px;
  --h6: 10px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  scroll-behavior: smooth;
  list-style: none;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  color: var(--clr-dark);
  font-family: var(--truculenta);
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.4;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article,
aside,
footer,
header,
nav,
section,
time {
  display: block;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 150rem;
  margin: 0 auto;
  padding: 0 5rem;
}

/* HEADER */

.header {
  position: fixed;
  z-index: 999;
  width: 100%;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  position: relative;
}

.header .container {
  transition: 0.5s ease;
}

.header__wrapper ul {
  position: relative;
  display: flex;
  justify-content: space-between;
}

/* HEADER NAVIGATION */
.header__nav {
  display: flex;
  gap: 2rem;
}

.header__nav a.btn.bg--transparent {
  border: none;
}

.header__nav .nav__social {
  display: none;
}

.header__nav li a {
  font-family: var(--Poppins);
  color: var(--clr-light);
}

.header__nav li a:hover {
  border-radius: 20px;
  background-color: var(--clr-light);
  color: var(--clr-red);
}

/* STICKY DARK HEADER */

.header.dark .container {
  margin-top: 5rem;
  background-color: var(--clr--dark);
  transition: 0.5s ease;
  border-radius: 1rem;
}

/* position: relative;
  background-color: transparent;
   font-weight: 300;
  font-size: 1.5rem;
  list-style: none;
  padding: 1rem 2rem; */

/* RESPONSIVE  PAGE*/
/* MOBILE RESPONSIVE FOR HEADER BURGER */

/* TOGGLE FOR HEADER */
.header .toggle__menu span {
  background-color: var(--clr-light);
  width: 3rem;
  height: 0.6rem;
  display: block;
  border: 2px solid var(--clr-light);
  border-radius: 1rem;
  transition: all ease 0.5s;
}
.header .toggle__menu span:nth-child(2) {
  background-color: var(--clr-light);
  width: 2.5rem;
  height: 0.6rem;
  display: block;
  border: 2px solid var(--clr-light);
  border-radius: 1rem;
  transition: all ease 0.5s;
}
.header .toggle__menu span:nth-child(3) {
  background-color: var(--clr-light);
  width: 2rem;
  height: 0.6rem;
  display: block;
  border: 2px solid var(--clr-light);
  border-radius: 1rem;
  transition: all ease 0.5s;
}
.header .toggle__menu span:nth-child(4) {
  opacity: 0;
}

.header .toggle__menu {
  display: none;
}

/* MOBILE RESPONSIVE FOR HEADER */
@media screen and (max-width: 520px) {
  .header {
    position: fixed;
    width: 100%;
  }

  .header.dark .container {
    margin: 0rem;
    margin-top: 0rem;
    border-radius: 0rem;
    position: fixed;
  }

  .header .toggle__menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-end;
    margin-top: 1rem;
  }
  .header.dark {
    width: 100%;
  }
  .header__nav li a {
    background-color: var(--clr--dark);
    font-size: var(--h2);
  }

  .header__nav .nav__social {
    display: flex;
    font-size: 4rem;
    gap: 2.5rem;
  }

  nav .header__nav {
    position: fixed;
    flex-direction: column;
    top: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--clr--dark);
    width: 100%;
    height: 100vh;
    /* margin-top: 25rem;
    transform: translateY(-14rem);
    z-index: 99; */
    right: -100%;
    transition: all 0.5s ease;
  }
  .nav__social {
    display: flex;
    gap: 4rem;
  }
  .nav__social li {
    background-color: transparent;
  }
  .nav__social a:hover {
    background-color: var(-clr-light);
    width: 2rem;
    color: var(--clr-red);
  }
  .nav__logo {
    padding-top: 1rem;
    display: flex;
  }

  .header__nav.open {
    right: 0;
  }
  .header img {
    width: 10rem;
  }
  .toggle__menu.open span:first-child {
    transform: translate(0, 10px) rotate(45deg);
    transition: all 0.5 ease;
  }
  .toggle__menu.open span:nth-child(2) {
    opacity: 0;
    transition: all 0.5s ease;
  }
  .toggle__menu.open span:nth-child(3) {
    opacity: 0;
    transition: all 0.5s ease;
  }
  .toggle__menu.open span:nth-child(4) {
    transform: translate(0, -22px) rotate(-45deg);
    transition: all 0.5s ease;
    opacity: 100;
  }
}

/* BANNER */

.Banner {
  position: relative;
  background: url(./img/banner-img.png);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  /* details */
  display: flex;
  font-display: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.insight__wrapper h1 {
  display: block;
  font-size: var(--h1);
  color: var(--clr-light);
  font-weight: 400;
  font-family: var(--Poppins);
}
.insight__wrapper {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 1rem;
}

/* MOBILE RESPONSIVE FOR BANNER */

@media screen and (max-width: 520px) {
  .insight__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    justify-items: center;
    gap: 2rem;
  }
  .Banner h1 {
    font-size: var(--h2);
    font-weight: 500;
    color: var(--clr-light);
    align-items: center;
  }
  .insight__wrapper a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 35%;
    margin-left: 13rem;
    margin-right: 13rem;
  }
}

/* SERVICES */

.Iservices {
  padding: 5rem 0;
}
.Iservices__title {
  display: flex;
  align-items: start;
  flex-direction: column;
  margin: 5rem;
  margin-left: 10rem;
}
.Iservices__title h2 {
  font-size: var(--h2);
  font-weight: 700;
  color: var(--clr-red);
  font-family: var(--Poppins);
}
.Iservices__title p {
  font-size: 1.5rem;
  color: var(--clr--dark);
  font-family: var(--Poppins);
}

.Iservices__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  gap: 3rem;
  flex-direction: column;
  margin: 10rem;
}

/* SERVICES CARDS */
/* FOR SHADOW EFFECT AND ETC. */

.Design {
  max-width: 35rem;
  height: 50rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.9) 0px -3px 5px;
  border-radius: 2rem;
}

.Design {
  display: flex;
  background-color: var(--clr-light);
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* box-shadow: rgba(0, 0, 0, 10) 1px 1px 1px;
  height: 50rem; */
}

.Design__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}

.Design__title h3 {
  text-align: center;
  font-size: var(--h3);
  font-weight: 700;
  color: var(--clr--dark);
  margin-bottom: 2rem;
  font-family: var(--Poppins);
}
.Design__title p {
  margin-bottom: 2rem;
  text-align: justify;
  font-family: var(--Poppins);
}

.Design__title ul li {
  font-family: var(--Poppins);
  text-align: justify;
  margin-left: 2rem;
  padding-bottom: 1.5rem;
}

.Design span {
  content: " ";
  display: inline-block;
  position: relative;
  background-color: var(--clr-red);
  width: 25rem;
  height: 0.1rem;
  left: 0rem;
}

/* HOVER */
.Design:hover {
  transform: scale(1.1);
  transition: 500ms;
}
.Design:hover .btn.bg--transparent {
  scale: 1.1;
  transition: 300ms;
  background-color: var(--clr-red);
  color: var(--clr-light);
  border-radius: 20px;
  right: 0rem;
  width: 90%;
  transform: translateY(-0rem);
  text-align: center;
}

/* WOW */
.Design a.btn.bg--transparent {
  color: var(--clr-red);
  background-color: transparent;
  border: none;
}

/* MOBILE RESPONSIVE FOR SERVICES */

@media screen and (max-width: 520px) {
  .Iservices__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
  }
  .Iservices__title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
  }
  .Design {
    width: 100%;
  }
}

/* PROJECTS */

.room {
  padding: 5rem 0;
}

.room__wrapper {
  display: flex;
}

.room__cards {
  display: flex;
  position: relative;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

/* EACH CARDS */
.room__cards:nth-child(1) {
  background: url(./img/projects1.png);
  position: relative;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  /* margin: 0 auto; */
}

.room__cards:nth-child(2) {
  background: url(./img/projects2.png);
  position: relative;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  /* margin: 0 auto; */
}

.room__cards:nth-child(3) {
  background: url(./img/projects3.png);
  position: relative;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  /* margin: 0 auto; */
}

/* PROJECT SPAN ANIMATION */
.room__cards span {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  /* ZOOM ME */
  scale: 1;
  transition: 0.9s ease-in;
}

/* :hover span */
.room__cards span:hover {
  /* transform: scale(1);
  background-color: rgba(0, 0, 0, 0.4); */
  scale: 0;
}
.room__cards span:hover ~ .room__content {
  scale: 1.1;
  opacity: 100;
}

.room__content {
  position: relative;
  margin: 2rem;
  padding: 3rem;
  height: 30rem;
  width: 40rem;
  color: var(--clr-light);
  background-color: rgba(0, 0, 0, 0.4);
  /* HOVER ME */
  scale: 0;
  transition: scale 0.6s ease-in, opacity 0.9s ease-out;
  opacity: 0;
}

/* LAST RESORT IF NOT!! */
/* position: relative;
  z-index: 2;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.8s ease, transform 0.8s ease;
  text-align: center;
  color: var(--clr-light);
  margin: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4); */

.room__content a.btn2.bg--red {
  transform: translateY(-3rem);
}

.room__title h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--Poppins);
}

.room__content p {
  margin-bottom: 3rem;
  font-family: var(--Poppins);
}
.room__cards a {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  margin: 5rem;
}

.room__cards:hover .room__content {
  opacity: 1;
  transform: scale(1);
}

.room__cards:hover span {
  background-color: rgba(0, 0, 0, 0);
}

.room__title {
  text-align: justify;
  margin: 2rem;
}

.room__title h3 {
  font-size: var(--h3);
  font-weight: 700;
  margin-bottom: 2rem;
}

/* CONTACT */

/* MOBILE RESPONSIVE FOR PROJECTS */
@media screen and (max-width: 520px) {
  .room__wrapper {
    display: grid;
    flex-direction: column;
  }

  .room__content {
    scale: 1;
    transition: none;
    opacity: 100;
  }
  .room__cards span {
    scale: 1;
    transition: none;
    display: none;
  }
  .room__cards span:hover ~ .room__content {
    scale: 1;
    opacity: 100;
  }
  .room__cards {
    margin-bottom: 4rem;
  }
}

/* CONTACTS */

.contacts {
  padding: 5rem;
  font-family: var(--Poppins);
}
.contacts__title h2 {
  font-size: var(--h2);
  font-weight: 700;
  color: var(--clr-red);
  font-family: var(--Poppins);
}
.contacts__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}

form {
  display: grid;
  opacity: 70%;
  justify-items: end;
}

form input {
  display: grid;
  height: 5rem;
  margin-bottom: 1rem;
  width: 40rem;
  border-radius: 0.5rem;
}

/* form input, form textarea */
textarea {
  display: flex;
  margin-bottom: 2rem;
  width: 80rem;
  max-width: 40rem;
  height: 30rem;
  font-size: 1.6rem;
  border-radius: 1rem;
}

.contacts__left--card {
  transform: translateY(8rem);
  position: relative;
  z-index: 0;
  background-color: var(--clr-light);
}

.contacts__left--card {
  flex-direction: column;
  color: var(--light);
  height: 100%;
  width: 50rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 1rem;
  align-items: center;
  text-align: center;
  align-items: center;
  padding: 5rem;
  max-height: 60rem;
}

.contacts__right--info {
  display: flex;

  color: var(--clr--dark);
  background-color: var(--clr-light);
  transform: translateY(10rem);
  max-width: 50rem;
  gap: 3rem;
  max-height: 20rem;
}

.socialContact li {
  font-size: 1.8rem;
  letter-spacing: 0.5rem;
  font-family: var(--Poppins);
}

form .btn2.bg--red {
  max-width: 20rem;
}

/* MOBILE RESPONSIVE OF CONTACT */

@media screen and (max-width: 520px) {
  .contacts__wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .contacts__title {
    display: flex;
    justify-self: center;
    text-align: justify;
    align-items: center;
    flex-direction: column;
  }

  textarea {
    display: flex;
    margin-bottom: 2rem;
    width: 30rem;
    max-width: 30rem;
    height: 30rem;
    font-size: 1.6rem;
    border-radius: 1rem;
  }
  .contacts__left--card {
    width: 40rem;
    max-height: 60rem;
    border-radius: 1rem;
    margin-bottom: 5rem;
    color: var(--clr-light);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-items: center;
  }
  form input {
    display: grid;
    height: 3rem;
    margin-bottom: 1rem;
    width: 30rem;
    border-radius: 0.5rem;
  }
  .contacts__left--card {
    z-index: 0;
  }
}
/* FOOTER */

.footer {
  padding: 5rem 0;
  background-color: var(--clr-gray);
  color: var(--clr-light);
  font-family: var(--Poppins);
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.kulong ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 520px) {
  .footer__wrapper {
    display: grid;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .social {
    margin: 0rem;
    transform: translateX(2rem);
  }
  .kulong {
    display: flex;
    text-align: center;
    align-items: center;
  }
}

/* REPEATABLE PATTERNS */

/* BUTTON */

.btn {
  background-color: transparent;
  border: var(--clr-light);
  padding: 1rem 2rem;
  border-radius: 20px;
  font-family: var(--Poppins);
}
.btn.bg--transparent {
  background-color: transparent;
  border: 1px solid var(--clr-light);
  color: var(--clr-light);
}
.btn.bg--transparent:hover {
  background-color: var(--clr-light);
  color: var(--clr-red);
}

.btn2 {
  background-color: var(--clr-red);
  border: var(--clr-red);
  padding: 1rem 4rem;
  border-radius: 20px;
  font-family: var(--Poppins);
}
.btn2.bg--red {
  background-color: var(--clr-red);
  border: 1px solid var(--clr-red);
  color: var(--clr-light);
}
.btn2.bg--red:hover {
  background-color: var(--clr-light);
  color: var(--clr-red);
}

/* ICONS */

.socialContact i {
  color: var(--clr-red);
}

.social i {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--clr-light);
}
.social li {
  letter-spacing: 1.5rem;
}

/* .social a:hover{
  color:var(--clr-red);
} */
